.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* first btn */

.first {
  background-color: #1c7ed6;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  color: #000000;
  font-weight: 500;
}

.first:hover {
  background-color: #228be6;
}

/* second btn */
.second {
  background-color: none;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #1c7ed6;
}

.second:hover {
  background-color: #1c7ed6;
  border: none;
}
/* 
.divider {
  width: 100%;
  background-color: #1c7ed6;
  height: 1px;
} */

.divider {
  width: 1px;
  background-color: #1c7ed6;
  height: 20px;
}

.serchbar-wrapper {
  display: flex;
  align-items: center;
  background-color: red;
  object-fit: cover;
}

.serchbar-wrapper .serch-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-field input {
  width: 100% !important;
  border: none;
  padding: 5px 15px;
}
